/* the filter section and the container */
.container {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading > h1 {
    text-decoration: underline;
    margin: 1em;
}

.filters {
    display: flex;
    justify-content: center;
    max-width: max-content;
}

.filters > div {
    margin: 0em 2em 2em 2em;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

#brand, #size, #color {
    width: 5em;
}

.filter-button, .add-button {
    width: 100%;
    height: 2em;
    background-color: gray;
}

/* the displayed cards */
.list-shoes {
    width: max-content;
    background-color: #fff;
}
.list-shoes > div {
    display: flex;
    justify-content: center;
    width: 600px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 1em;
    width: 80%;
}
.card > .image-box {
    width: 10em;
    height: 10em;
    border: 1px solid black;
    margin-bottom: 5px;
}

.add-cart {
    background-color: #000;
    margin-top: 3px;
    height: 2.5em;
    width: max-content;
    color: #fff;
    line-height: 2em;
    padding: 4px;
}

/* mobile view and smaller screens */
@media screen and (max-width: 688px) {
    .home-page {
        flex-direction: column;
    }
    .filters {
        flex-direction: row;
    }
    #brand, #size {
        width: 5em;
    }
}


/* cart */
table {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(122, 122, 122);
    color: white;
}

th, td {
    width: 5em;
    padding: 0.5em;
}

.no-cart {
    margin: 2em 0;
}

.checkout-clear {
    display: flex;
}

.checkout-clear > button {
    width: 100%;
    background-color: gray;
}

/* add form */
.add-form {
    border: 1px solid black;
    background-color: #fff;
    padding: 2em;
}
.add-form > form > h2 {
    margin: 1em;
}

.add-form > form > button {
    background-color: gray;
}

.add-form > form > div {
    margin: 1em 0;
}

.add-form > form > div > input {
    width: 100%;
    height: 30px;
}

.card > .details > .card-details {
    font-size: 1em;
}

.card > h3 {
    text-transform: uppercase;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.border-me {
    padding: 5px;
    border: none;
}

.add-color {
    height: 30px;
    width: 100%;
}